In [ ]:
# print all the number greater than equal to 50 and less than 100 for some range 1 to 1000
[i for i in range(1,1001) if i >= 50 and i <=100]

[50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [ ]:
# print the tabel of 5 from 1 to 30
j = [ 5 * i for i in range (1,31)]
print(j)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150]

In [ ]:
# print all the vowels in sentences "i love csit department"
string1 = "i love csit deparemtne"
j = [ i for i string1 in if i in ["a","e","i","o","u"] ]
print (len(j))

SyntaxError: ignored

In [ ]:
#"print all the keys in lower case if the value is greater than equal to 3000
dict1 = { 1:"one", 10: "ten" }
[ i.lower() for i in dict1 if dict1 [i]> = 1 ]

SyntaxError: ignored

In [ ]:
# for some range 1 to 1000 print even if no. is even or print odd
["even" if i%==0 else "odd" for i in range (1,1001)]

SyntaxError: ignored

In [ ]:
# to print all the numbers divisible by 2 in list
list1 = [1,2,3,4,5]
[i for i in list1 if i % 2 == 0]

[2, 4]